*{
    padding: 0;
    margin: 0;
}
  
button {
      width: fit-content;
      padding: 12px 20px;
      font-size: 1rem;
      background-color: #3b3b3b;
      color: white;
      border: none;
      border-radius: 5px;
      transition: 0.25s;
}
  
button:hover {
      background-color: #222;
}
   
.product {
      background-color: rgb(66, 175, 175);
      display: flex;
      border: 1px solid #22222267;
      padding: 25px;
      gap: 15px;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
}
  
img {
      border-radius: 15px; 
}
  
.product-name {
      font-size: 1.5rem;
}
  
#main-div {
      display: flex;
      justify-content: center;
      margin-top: 50px;
}

.price {
      font-size: 40px;
}
  
.p-div {
      width: 500px;
      display: flex;
      flex-direction: column;
      gap: 25px;
}
 
.main-p {
      font-size: 3rem;
      color: #222;
}

#cart-div{
    margin-right: 200px;
    margin-left: -340px;
    margin-top: 330px;
}


a{
    color: aliceblue;
    text-decoration: none;
}
  